@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

.page {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

.overlay {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 95px;
  gap: 150px;
}

.header {
  font-family: "Kumbh Sans";
  font-size: 55px;
  font-weight: bold;
  font-weight: 600;
}

.cookButton {
  width: max-content;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ef8d63;
  border: 0;
  border-radius: 30px;
  color: white;
  font-weight: 535;
  font-size: 12pt;
  text-align: left;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 350px;
}

.missionCol {
  display: flex;
  flex-direction: column;
  width: 50rem;
  font-size: 30pt;
  font-weight: bold;
  margin: 0px;
  text-align: center;
  color: #de6a28;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.firststep {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}

.step {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.laststep {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.steptext {
  font-size: 30px;
  font-weight: bold;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin: 95px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
